@font-face {
    font-family: 'Bubblegum Sans', cursive;
    src: url("webfontkit/tubular-webfont.woff2") format("woff2"),
         url("webfontkit/tubular-webfont.woff") format("woff"),
         url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'Bubblegum Sans', cursive;
	text-decoration: none;
}

body{
background-color: #0088ff;
}

h1{
    color:white;
}

h2 {
    color: white;
}

p.about{
    color: white;
}

.booklisting:hover{
    opacity: .5 !important; 
  }
